/* General body settings */

body {
  background-color: #010f22;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  margin-bottom: 20vmin;
}

/* Top navigation bar */

.topnav {
  background: linear-gradient(#f735352c 10%, #00040e 90%);
  background-color: #00040e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vmin;
}

/* topnav links */

.topnav a {
  color: rgb(221, 32, 32);
  text-decoration: none;
  padding: 14px 16px; 
}

.topnav a:hover {
  transition-duration: 0.2s;
  color: rgba(255, 0, 0, 0.501);
}

/* Site logo top left */

.site-logo {
  background: -webkit-linear-gradient(#eee, #fd0505);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2vmax;
  font-weight: 700;
}

/* Search bar */

form {
  width: 25vw;
  height: 5vmin;
  background-color: #584f6973;
  border-radius: 2.5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  all: unset;
  font: 2vmin system-ui;
  color: white;
  height: 100%;
  width: 100%;
  padding: 6px 6px;

}

/* Navigation menu top right */

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  font-size: 1.2vmax;

}

/* Banner title */

h1 {
  background: -webkit-linear-gradient(#eee, #fd0505);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Banner background */

.bgimg::before {
    
  content: "";
  background-size: contain;
  position:absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image:url("collage.jpg");
  opacity: 0.15;
  background-repeat:repeat;
}

header {
  position: relative;
  background: -webkit-linear-gradient(#000105, #021736);
  padding: 3vmin;
  text-align: center;
  font-size: 5vmax;
  letter-spacing: 2vw;
  margin-bottom: 10px;
}

/* Main Section */

/* Movie card container */

.card {  
  width: 22vmax;
  height: 32vmax;
  box-shadow: 0.5rem 0.5rem 1rem 0.4rem rgba(0,0,0,0.8);
  border-radius: 1vmin;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* Movie poster */

.thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 1vmin;
  position: absolute;
  
}

/* Main section grid containing movie cards */

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  column-gap: 2vmin;
  row-gap: 4vmin;
  margin: 5vmin 3vmin 5vmin 3vmin;
}

/* Increasing size of movie card & creating space for movie info grid when card is hovered */

.card.hovered {
  display: grid;
  grid-template-rows: 70% auto;
  gap: 1vmin;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  background-color: #000813;
  border-radius: 1vmin;
  transform: scale(1.2);
  z-index: 10;  
}

.card.hovered .thumbnail {
  grid-row: 1 / 2;
  border-radius: 1vmin 1vmin 0 0;
  z-index: 10;
}

/* Movie information grid (dynamically added on hover) */

.movie-info-grid {
  grid-row: 2 / 3;
  padding: 1vmin 1.8vmin 3.5vmin 1.8vmin;
}

/* Movie info elements */

#rating {
  margin: 0 auto 0.4vmin 0vmin;
  color: rgb(4, 231, 103);
  font-size: 1.8vmin;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

#movie-title {
  color: white;
  margin: 0 auto 0 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 2vmin;
  line-height: 1;
}

#genre-row {
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 1.6vmin;
  margin-top: 0.5vmin;
  margin-bottom: 0;
}

/* Movie plot displayed on clicking the down arrow */

/* Movie plot container */
.movie-plot {  
  visibility: hidden;
  margin-top: 85%;
  background-color: #000813;
  position: absolute;
  padding: 1vw;
  z-index: 11;
  /* height: 20vmin; */
}

/* Movie plot text */
#movie-plot-text {
  color: white;
  font-size: 1.8vh;
  font-family: "Nunito", sans-serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow-y: scroll;
  margin-bottom: 0;
}

/* Adding scrollbar */

#movie-plot-text::-webkit-scrollbar {
  width: 9px; /* Width of the scrollbar */
  height: 3px;
}

#movie-plot-text::-webkit-scrollbar-track {
  background: #f1f1f11f; /* Background of the scrollbar track */
}

#movie-plot-text::-webkit-scrollbar-thumb {
  background: #3a424b; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

#movie-plot-text::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

/* Arrow to expand and contract plot container */
#plot-expand-arrow {
  all: unset;
  color: white;
  font-size: 1.5vmin;
  margin: 0 47%;
  cursor: pointer;
}


/* Creating responsive design for different window size */

@media (max-width: 1099px) and  (min-width: 871px) {

  /* Enabling movie card zoom transition from left to right for 1st card of each row -> to prevent going beyond window */

  /* left-most item */
  .main :nth-child(4n+1).hovered { /* selects every 4th item after 1st item */
    transform-origin: left;
  }

  /* Enabling movie card zoom transition from righ to left for last card of each row -> to prevent going beyond window */

  /* Right-most item */
  .main :nth-child(4n).hovered { /* selects every 4th item */
    transform-origin: right;
  }

  .site-logo {
    font-size: 3vmin;
  }

  .topnav {
    padding-right: 0.5vmax;
  }

  form, input {
    width: 25vw;
  }

  nav ul {
    padding: 0;
    margin: 0;
  }

  nav ul li {
    display: inline;
    margin-right: 0;
    font-size: 1.8vmin;
    margin-left: -2vmax;
  }

  nav ul li :last-child {
    margin-right: 0;  
  }

  .card.hovered {
    transform: scale(1.1);
    grid-template-rows: 65% auto;
  }

  .movie-info-grid {
    padding-top: 0.2vw;
  }

  #rating {
    font-size: 1.3vw;
  }

  #genre-row {
    margin-top: 0.4vw;
    font-size: 1.1vw;
  }

  #movie-title {
    font-size: 1.6vw;
  }

}

@media (min-width: 1100px) {
  .card {
    width: 18vmax;
    height: 28vmax;
  }
  .main {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  /* left-most item */
  .main :nth-child(5n+1).hovered { /* selects every 5th item after 1st item */
    transform-origin: left;
  }

  /* Right-most item */
  .main :nth-child(5n).hovered { /* selects every 5th item */
    transform-origin: right;
  }

  .card.hovered {
    transform: scale(1.1);
    grid-template-rows: 60% auto;
  }

  #rating {
    font-size: 2vmin;
  }
  
  #movie-title {
    font-size: 2.3vh;

  }

  #genre-row {
    font-size: 1.7vmin;
  }

  #movie-plot-text {
    font-size: 2vh;
  }
}

@media (max-width: 870px) {
  .card {
    width: 30vw;
    height: 42vw;
  }
  .main {
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
  }
  .main :nth-child(3n+1).hovered { /* selects every 3rd item after 1st item*/
    transform-origin: left;
  }
   .main :nth-child(3n).hovered { /* selects every 3rd item */
    transform-origin: right;
  } 
  .card.hovered {
    transform: scale(1.1);
    grid-template-rows: 65% auto;
  }
  #movie-plot-text {
    font-size: 2vh;
  }
}

/* Query result message */

#query {
  margin-left: 2vmin;
  color: white;
}









